version: "3.9"

services:

  postgres:
    image: postgres:15
    container_name: order-db
    environment:
      POSTGRES_DB: orders
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  order-service:
    build: .
    container_name: order-service
    depends_on:
      - postgres
      - redis
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/orders
      SPRING_DATASOURCE_USERNAME: admin
      SPRING_DATASOURCE_PASSWORD: admin
    ports:
      - "8080:8080"
  
  redis: 
    image: redis:7
    container_name: order-redis
    ports:
      - "6379:6379"
  
volumes:
  postgres-data:
